.forecast-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 50px auto;
}
.dayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 35px;
}
.forecast-header {
  font-size: 65px;
  color: #333;
  font-weight: 100;
  text-align: center;
}
.subheader {
  font-size: 30px;
  color: #333;
  font-weight: 100;
}
.weather {
  height: 130px;
}

.description-container {
  font-size: 34px;
  font-weight: 100;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}